a {
    text-decoration: none;
    color: #fafafa;
    margin: 5px 10px;
    border-right: #fafafa 2px solid;
    border-left: #fafafa 2px solid;
    padding: 0 5px;
}

nav {
    position: absolute;
    right: 2%;
}

nav > ul, footer > ul {
    list-style-type: none;
    overflow: hidden;
    float: right;
}

nav > ul > li, footer > ul > li {
    float: left;
}

h1 {
    background-color: #217346;
    color: #fafafa;
    text-align: center;
    width: 100%;
    height: 100px;
    padding-top: 50px;
}

.header-steps {
    background-color: #217346;
    color: #fafafa;
    text-align: center;
    float: left;
    width: 25%;
    height: 300px;
    box-sizing: border-box;
    padding: 30px 10px;
    margin-bottom: 50px;
    border: 2px solid #fafafa;
    border-radius: 20px;
    outline: 2px solid #fafafa;
    outline-offset: -5px;
}

p {
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

.file-selectors {
    margin-bottom: 10px;
}

input[type="file"] {
    background-color: #217346;
    color: #fafafa;
    cursor: pointer;
}
input[type=button], .btn {
    background-color: #12478c;
    color: #fafafa;
    font-size: larger;
    border: 2px solid #e9ec0c;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.btn:hover {
    background-color: #217346;
}

/* Table colors copied from  https://www.w3schools.com/css/css_table_style.asp  */
tr:nth-child(even) {background-color: #fafafa;}
thead {
    background-color: #217346;
    color: #fafafa;
  }


.merge-options {
    text-align: center;
    float: left;
    width: 48%;
    height: 600px;
    box-sizing: border-box;
    padding: 30px 10px;
    margin-bottom: 50px;
    border: 2px solid black;
    overflow: auto;
}

#template-file {
    margin-right: 4%;
}

.merge-alternatives {
    text-align: center;
    float: left;
    width: 33%;
    height: 480px;
    box-sizing: border-box;
    margin-bottom: 50px;
    overflow: auto;
}

h4 {
    border: 1px solid black;
    margin-top: 1.4px;
    margin-bottom: 0;
    font-size: 1rem;
    height: 20px;
}

.chose-files-div {
    margin: 50px 0;
}

.merge-alternatives > select {
    width: 90%;
    height: 20px;
    margin: 1.8px 0;
    text-align: center;
}



.instruction-steps {
    background-color: #217346;
    color: #fafafa;
    text-align: center;
    float: left;
    width: 90%;
    height: fit-content;
    display: block;
    padding: 30px 10px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 50px;
    border: 2px solid #fafafa;
    border-radius: 20px;
    outline: 2px solid #fafafa;
    outline-offset: -5px;
}
.instruction-steps h2 {
    margin-top: 0px;
}
 /* Creadit to https://stackoverflow.com/questions/9537838/div-height-100-and-expands-to-fit-content and João Pimentel Ferreira */
#instructions-section, #contact-section {
    display: block;
    overflow: auto;
}

img {
    width: 50%;
}

#instructions-heading, #contact-heading, #about-heading {
    background-color: #12478c;
    color: #fafafa;
    text-align: center;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    border-radius: 10px;
    outline: 2px solid #fafafa;
    outline-offset: -5px;
}

#instruction-video {
    width: 50%;
    height: 50%;
}

span {
    color: #217346;
    text-decoration: underline;
}

/* Code for the form and its components are copied and modified from https://www.w3schools.com/css/css_form.asp  */
#form {
    width: 50%;
    padding: 16px 20px;
    margin: 25px auto;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #f1f1f1;
    
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #217346;
    border-radius: 20px;
    background-color: #fafafa;
    resize: none;
  }

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=submit] {
    background-color: #217346;
    border: none;
    color: #fafafa;
    font-size: large;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #fafafa;
    border-radius: 20px;
    width: 100%;
  }


  #about-list {
    font-size: 1.5rem;
  }

  footer {
    height: 100px;
    color: #fafafa;
    background-color: #217346;
    text-align: center;
  }



  /* Media queries */

  @media screen and (max-width: 995px) {

    .header-steps {
        width: 50%;
    }

    #form {
        width: 80%;
    }

  }

  @media screen and (max-width: 520px) {

    .header-steps {
        width: 100%;
    }

    h1 {
        font-size: 1.8rem;
    }

    a {
        margin: 5px 5px;
        font-size: 1rem;
    }

    #instructions-heading, #contact-heading, #about-heading {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }
  }

  @media screen and (max-width: 376px) {

    h2 {
        font-size: 1.5rem;
    }

    a {
        margin: 5px 0;
        font-size: 1rem;
    }

  }